extends layout

block content
  h1= title
  h2 Connexions totales
  ul
    li 
      a(href='/login/hourly') par heure
    li 
      a(href='/login/daily') par jour
    li 
      a(href='/login/weekly') par semaine

  h2 Visiteurs uniques
  ul
    li
      a(href='/users/daily') par jour
    li
      a(href='/users/weekly') par semaine

  h2 Hiérarchie des cours
  ul
    li
      a(href='/static/partition') Hiérarchie naviguable

  h2 Catégories importantes
  ul
    li
      a(href='/categories/stackedDaily') par jour

  h2 Parcours étudiant
  ul 
    li
      a(href='/students/category') Accès par la catégorie