doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vis.css')

    script(src='/javascripts/vis.js')
  body
      block content